{% load staticfiles %}
<div class="gg" id="gg">
    <div class="ggLoading">
        <div class="ggLoading2"><em></em></div>
    </div>
    <div class="ggs">
        <div class="ggBox" id="ggBox">
            <a href="#" target="_blank" title="" style="z-index: 3; opacity: 4;">
                <img src="{% static 'images/1920_421_02.jpg' %}" alt="" /></a>
            <a href="#" target="_blank" title="">
                <img src="{% static 'images/1920_421_01.jpg' %}" alt="" /></a>
        </div>
    </div>
    <div class="ggb">
        <div class="ggBtns" id="ggBtns">
            <a title="" href='javascript:void(0)' class="ggOn"><em>1</em></a>
            <a title="" href='javascript:void(2)'><em>2</em></a>
        </div>
    </div>
</div> 
