{% load staticfiles %}
<div class="footWrap">
    <div class="foot">
        <div class="linkBox">
            <h4>友情链接</h4>
            <ul>
                <li><a href="#">美国服务器 </a></li>  
                <li><a href="#">香港服务器 </a></li>  
                <li><a href="#">营养软件 </a></li>  
                <li><a href="#">免备案空间  </a></li> 
                <li><a href="#">ddos攻击防御 </a></li>  
                <li><a href="#">杭州网站建设  </a></li> 
                <li><a href="#">美国空间   </a></li>
                <li><a href="#">郑州网站建设 </a></li>  
                <li><a href="#">免备案空间   </a></li>
                <li><a href="#">汕头网站建设  </a></li> 
                <li><a href="#">香港空间   </a></li>
                <li><a href="#">深圳网站建设</a></li>   
                <li><a href="#">厦门网络公司 </a></li>   
                <li><a href="#">西安网站建设 </a></li> 
                <li><a href="#">厦门网站建设  </a></li> 
                <li><a href="#">上海企业视窗 </a></li>   
                <li><a href="#">厦门网络公司    </a></li>
                <li><a href="#">厦门网站建设   </a></li> 
                <li><a href="#">广州网站建设 </a></li>   
                <li><a href="#">济南网站建设</a></li>    
                <li><a href="#">天津网站建设 </a></li>   
                <li><a href="#">天津网站建设 </a></li>  
                <li><a href="#">成都服务器  </a></li>  
                <li><a href="#">服务器托管   </a></li> 
                <li><a href="#">服务器租用  </a></li>   
                <li><a href="#">香港VPS    </a></li>
                <li><a href="#">广东信息网 </a></li>   
                <li><a href="#">二手服务器</a></li>
            </ul>
        </div> 
        <div class="fNav">
            <dl>
                <dt>行业资讯</dt>
                <dd><a href="#">业界新闻</a></dd>
                <dd><a href="#">知名机构</a></dd>
                <dd><a href="#">HPC专家</a></dd>
                <dd><a href="#">知名系统</a></dd>
                <dd><a href="#">知名厂商</a></dd>
            </dl>
            <dl>
                <dt>排行榜</dt>
                <dd><a href="#">最新榜单</a></dd>
                <dd><a href="#">历史榜单</a></dd>
                <dd><a href="#">统计分析</a></dd>
            </dl>
            <dl>
                <dt>入榜预测</dt>
                <dd><a href="#"></a></dd>
                <dd><a href="#">性能入榜</a></dd>
                <dd><a href="#">入榜申请</a></dd>
                <dd><a href="#">预算入榜</a></dd>
            </dl>
            <dl>
                <dt>关于TOP100</dt>
                <dd><a href="#">TOP100介绍</a></dd>
                <dd><a href="#">大事记</a></dd>
            </dl>
            <dl style="background: none;width: 200px;padding: 0 0 0 50px;">
                <img src="{% static 'images/wx.gif' %}"/>
            </dl>            
        </div>
        <p>版权所有：中国软件行业协会数学软件分会 地址：北京中关村南四街4号 中科院软件所五号楼324 <br/>
            电话：010-62661636、62661632 传真：010-62661632      E-mail：samss@mail.rdcps.ac.cn</p>
    </div>
</div>
