{% load staticfiles %}

<div class="indexFiveWrap">
    <ul class="indexFive">
        <li><a href="#" class="img"><img src="{% static 'images/f1.jpg' %}"/></a><a href="#" class="title">联想ThinkServer </a></li>
        <li><a href="#" class="img"><img src="{% static 'images/f2.jpg' %}"/></a><a href="#" class="title">HP ProLiant DL380p </a></li>
        <li><a href="#" class="img"><img src="{% static 'images/f3.jpg' %}"/></a><a href="#" class="title">戴尔PowerEdge 12G </a></li>
        <li><a href="#" class="img"><img src="{% static 'images/f4.jpg' %}"/></a><a href="#" class="title">TS530 S1220v2 </a></li>
        <li><a href="#" class="img"><img src="{% static 'images/f5.jpg' %}"/></a><a href="#" class="title">戴尔PowerEdg T320 </a></li>
    </ul>
</div>
